@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab&display=swap');

body{
    font-family: 'Roboto Slab', serif;
    background-color: rgb(179, 179, 179);
}

#menu a{
    font-size: 20px;
    color: white;
}

/*carousel*/

.carousel-inner{
    max-height: 100rem;
}

#contenedor-formulario{
    background: rgb(207, 106, 106);
    border-radius: 5px;
    max-width: 700px;
}

@media (max-width:768px){
    #equipo{
        width: 90% !important;
    }
}

@media (max-width:768px){
    .servicio-fila{
        width: 100% !important;
    }
}

@media (max-width:576px){
    .icono-wrap{
        flex-wrap: wrap;
        justify-content: center !important;
    }
}


























@media (max-width:768px) {
    #intro{
        width: 90% !important;
    }
}